/*Importa os estilos dos componentes*/
@import url("styles/barra.css");
@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/produtos.css");
@import url("styles/orcamento.css");
@import url("styles/cidade.css");
@import url("styles/footer.css");

/*Váriaveis globais da página*/
:root{

    /*Cores*/
    --cor-base-100: #ffffff;
    --cor-base-200: #9FAFB2;
    --cor-base-300: #657B80;
    --cor-base-400: #2E3E42;
    --cor-base-500: #13292E;
    --cor-primaria-light:#47A5E3;
    --cor-primaria-default: #3189C4;
    --cor-primaria-dark: #0765A4;

    /*Tipografia*/
    --titulo-h1:normal normal 500 37px "DM Sans", sans-serif;
    --titulo-h2:normal normal 400 32px "DM Sans", sans-serif;
    --titulo-h3:normal normal 400 24px "DM Sans", sans-serif;  
    --paragrafo-grande: normal normal 400 18px "DM Sans", sans-serif ;
    --paragrafo-medio: normal normal 300 17px/24px sans-serif;
    --paragrafo-pequeno: normal normal 300 14px/20px sans-serif;
    --funcional-medio: normal normal 400 16px "DM Sans", sans-serif;
    --funcional-pequeno: normal normal 500 14px/20px "DM Sans", sans-serif;
}
body{
    background: var(--cor-base-100);
    font-family: "DM Sans";    
}
.whatsapp__btn{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 10;
}

