.banner{
    background-image: url("../img/banner-mobile-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--cor-base-100);
    text-align: center;
    padding: 5.5em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__titulo{
    font: var(--titulo-h1);
}
.banner__texto{
    font: var(--paragrafo-grande);
    margin: 1em 0;
}
.botao__orcamento{
    background: var(--cor-enfase-default);
    font: var(--funcional-pequeno);
    font-weight: bold;
    color: var(--cor-base-100);
    border: none;
    border-radius: 50px;
    padding: 1em 3em;
    width: 12em;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.botao__orcamento:hover{
    background-color: var(--cor-primaria-dark);
    color: var(--cor-base-200);
    transition: 80ms;
    text-decoration: none;
}
.icone{
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

@media screen and (min-width:1024px){
    .banner{
        background-image: url("../img/banner-background-1.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: left;
        padding: 12em 15em;
        display: block;
    }
    .botao__orcamento{
        border: none;
        border-radius: 50px;
        padding: 1em 3em;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }
    .banner__texto{
        font: var(--paragrafo-grande);
        width: 50%;
    }
}