.carrossel{
    margin: 0 1em;
}
.carrossel__titulo{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--cor-base-dark);
    text-align: center;
    padding: 1em 0 0.5em 0;;
}

.swiper-slide img{
    width: 100%;
    border-radius: 12px;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}