.carrossel{
    padding: 2em 1em;
}
.carrossel__titulo{
    font: var(--titulo-h2);
    color: var(--cor-base-500);
    text-align: center;
    padding: 1em 0 0.5em 0;;
}
.swiper-slide img{
    width: 100%;
    border-radius: 12px;
}
.swiper-button-prev, .swiper-button-next {
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}