.cidades{
    background-color: var(--cor-base-500);
    padding: 2em 1em;
}
.cidade__titulo{
    font: var(--titulo-h2);
    color: var(--cor-base-100);
    text-align: center;
    margin: 0 0 1em 0;
}
.cidades-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--cor-base-200);
    gap: 20px;
}

@media screen and (min-width:1024px) {
    .cidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em 8em;
    }
}