.produtos-titulo{
    font: var(--titulo-h2);
    color: var(--cor-branca);
    text-align: center;
    padding: 1em 0 0.5em 0;;
}
.produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    background: var(--cor-base-dark);
}
.produto__card{
    margin: 1.5em 0;
}
.produto-imagem{
    width: 100%;
    border-radius: 12px;
}
.card-titulo{
    font: var(--titulo-h3);
    color: var(--cor-branca);
    text-align: center;
    margin: 0.5em 0;
}
.card-texto{
    text-align: center;
    font-size: 17;
    color: #B5C4C7;
    font-weight: 300;
    line-height: 24px;
}